// Feuilles de Styles:
@import"./SASS/Modules/mixins";
@import"./SASS/Variables/variables_ID_graphiques";


// Restaurants - Menu : 
@import"./SASS/styles.scss/_menus-restaurants";
@import"./SASS/styles.scss/homepages";
@import"./SASS/styles.scss/_version-desktop";
@import"./SASS/styles.scss/_keyframes.scss";




body{
    min-width: 322px;
    width: 100%;
    height: auto;
    margin: 0;
}

*{
    font-family: $text-font;
    
}

