// Feuilles de Styles:
@import"./SASS/Modules/mixins";
@import"./SASS/Variables/variables_ID_graphiques";

// Restaurants - Menu : 
@import"./SASS/styles.scss/_menus-restaurants";
@import"./SASS/styles.scss/homepages";
@import"./SASS/styles.scss/_version-desktop";




body{
    min-width: 322px;
    width: 100%;
    height: auto;
}

*{
    font-family: $text-font;
    
}

