
// Variables couleurs:
$primaire-color:#9356DC;
$secondaire-color:#FF79DA;
$tertiaire-color:#99E2D0;

// Police :
$text-font: Roboto, sans-serif;
$title-logo-font: Shrikhand, cursive;



// Background-color:
$background-color-main: #FFFFFF;
$color_text:#101010;
$background-color-localisation: #EAEAEA;
$background-color-Grey: #353535;
$border-input-localisation-focus: #6e6e6e;
$color-text-recherche-accueil: #6e6e6e;

// bouton styles:
