// Feuilles de Styles:
@import "./SASS/Modules/mixins";
@import "./SASS/Modules/variables_ID_graphiques";
@import "./SASS/Modules/_keyframes.scss";

// Restaurants - Menu :
@import "./SASS/styles.scss/_menus-restaurants";
@import "./SASS/styles.scss/homepages";
@import "./SASS/styles.scss/_version-desktop";

body {
  min-width: 322px;
  width: 100%;
  height: auto;
  margin: 0;
}

* {
  font-family: $text-font;
}
