// Header//

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  &_box_logo {
    margin: auto;
    padding-top: 0.88rem;
    padding-bottom: 0.88rem;
  }

  &_logo-header {
    display: flex;
    width: 197px;
    height: 36px;
    padding: 0px 19px 0px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.header_bottom {
  display: flex;
  width: 100%;
  height: 3.125rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background-color: #eaeaea;
  gap: 1.0625rem;
  flex-shrink: 0;

  &_icon_position {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 0.75rem;
    height: 1rem;
    flex-shrink: 0;
  }
  .header_texte-area {
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    border: none;
    background: none;
    font-weight: bold;
    background-color: transparent;
    font-weight: 700;
    text-align: center;
  }
}

// Body :
// hero header//

.heroscontainer {
  background: $background-color-main;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 1.88rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .slogan_titre {
    margin-bottom: 0;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    @include hero-style;
    font-family: $text-font;
    height: auto;
    padding-bottom: 1rem;
  }

  .titre_sub {
    margin-bottom: 15px;
    color: $border-input-localisation-focus;
    font-size: 0.938rem;
    font-family: $text-font;
    width: 20rem;
    height: 2.875rem;
    text-wrap: wrap;
    margin-top: 1.12rem;
    @include sub-style;
  }
}

.recherche_bouton {
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 13.625rem;
  height: 3.125rem;
  padding: 10px;
  color: $white-color;
  background: linear-gradient(356deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  transition: transform 330ms ease-in-out;
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  .bouton-style {
    @include bouton_style;
  }
}
.recherche_bouton:hover {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  opacity: 0.6;
  transform: scale(1.1);
}

// fonctionnement

.fonctionnement {
  display: flex;
  flex-direction: column;
  &_titre {
    padding-left: -2.4rem;
    @include titreh2;
  }
  &_liste {
    width: 100%;
  }
 }

   

ol {
  counter-reset: compteListe;
  & li::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: $primaire-color;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: $white-color;
    position: absolute;
    display: flex;
    margin-top: -2px;
    margin-left: -310px;
  }
  & li {
    cursor: pointer;
    background: $background-color-main;
    box-shadow: 1px 4px 9px 1px rgb(0 0 0 / 10%);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 30px;
    display: flex;
    width: 90%;
    height: 4.52369rem;
    & i {
      color: #777777;
      margin-right: 20px;
    }
    & span {
      font-weight: bold;
    }
    &:hover {
      background: #f5edff;
    }
    &:hover i {
      color: $primaire-color;
    }
  }
}

// Menu cards des restaurants

.container_cards {
  width: 100%;
  background: $background-color-main;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .title_container {
    width: 90%;
    height: 4.25rem;
    flex-shrink: 0;
    justify-items: flex-start;
    @include titreh2;
  }
  .card_restaurant {
    border-radius: 0.9375rem;
    background: $white-color;
    width: auto;
    height: 15.6875rem;
    flex-shrink: 0;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 26px;
    position: relative;
  }
  .card_restaurant-image {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  .img_sticker {
    color: $green-sticker;
    text-align: center;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: $tertiaire-color;
    border-radius: 2px;
    position: absolute;
    padding: 6px 0px 6px 0px;
    width: 78px;
    right: 14px;
    top: 14px;
    font-size: 14px;
    font-weight: 600;
  }

  a {
    position: absolute;
    width: 100%;
    height: 95%;
  }

  .card_restaurant-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 183px 14px 1px 14px;
    margin: 1px 2px 5px 6px;
    .h3_card {
      width: 16.6875rem;
      height: 1.25rem;
      flex-shrink: 0;
      font-weight: 700;
      @include box_titre1;
      margin: 0%;
    }
    .p_card {
      width: 15.4375rem;
      height: 1.5rem;
      flex-shrink: 0;
      font-size: 1.0625rem;
      margin: 0;
      margin-top: 9px;
      @include box_titre2;
    }
  }

  .boxe_restaurant-icon {
    height: 25px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 49px;
    bottom: 37px;
    font-size: 25px;

    .coeur {
      position: absolute;
      color: $primaire-color;
    }

    .full {
      font-size: 10px;
      bottom: 3px;
      left: 7px;
      color: transparent;
    }

    .empty {
      color: $color_text;
      width: 1.375rem;
      height: 1.3125rem;
    }

    .full:hover {
      color: $primaire-color;
      animation: like 4s infinite ease-in-out;
      display: flex;
    }
  }
}

// footer

.footer {
  background-color: $background-color-Grey;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    padding: 1.375rem 1.5625rem;
    padding-right: 6rem;
    gap: 0.4375rem;
  }

  &__logo {
    color: $white-color;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__content {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $white-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
