.header_container {
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background: var(--White, #fff);

  .header_box {
    gap: 2.62rem;
    display: flex;
    padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .header_A {
      display: flex;
      width: 1.875rem;
      height: 1.875rem;
      flex-shrink: 0;
      .header_icon {
        margin-left: 2.62rem;
        border: none;
        background: #fff;

        .fleche {
          color: #101010;
          background-color: #fff;
          display: inline-block;
        }
      }
    }

    .header_B {
      display: flex;
      display: flex;
      width: 12.3125rem;
      height: 2.25rem;
      padding: 0rem 1.1875rem 0rem 1rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      &_logo {
        color: var(--Black, #101010);
        text-align: center;
      }
    }
  }
}

// top page menu

.flag_top {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .flag_image {
    object-fit: cover;
    width: 100%;
    // height: 17.1875rem;
    flex-shrink: 0;
  }
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 12%;
  width: 100%;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  width: 100%;
  top: -63px;
}

.card__title {
  display: flex;
  flex-direction: row;
  font-family: $title-logo-font;
}

.card__icon {
  display: flex;
  align-items: center;
  flex-direction: row;

  .coeur2 {
    position: absolute;

    width: 1.375rem;
    height: 1.3125rem;
  }

  .full1 {
    color: transparent;
  }

  .empty1 {
    position: absolute;
  }

  .full1:hover {
    color: #9356dc;
  }
}

// Carte

.box_entrées {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  .box_entrée-titre {
    display: flex;
    width: 17.1875rem;
    height: 1.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.entrées_border {
  display: flex;
  padding: 0.9375rem;
  align-items: flex-end;
  gap: 0.3125rem;
  flex: 1 0 0;

  .entrées_plat {
    height: 1.3125rem;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .entrées_plat-detail {
    height: 1.1875rem;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 0.94019rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .entrées_plat-prix {
    color: #353535;
    text-align: center;
    font-family: Roboto;
    font-size: 0.94019rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
