.header_container {
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background: var(--White, #fff);

  .header_box {
    gap: 2.62rem;
    display: flex;
    padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .header_A {
      display: flex;
      width: 1.875rem;
      height: 1.875rem;
      flex-shrink: 0;
      .header_icon {
        margin-left: 2.62rem;
        border: none;
        background: #fff;

        .fleche {
          color: #101010;
          background-color: #fff;
          display: inline-block;
        }
      }
    }

    .header_B {
      display: flex;
      display: flex;
      width: 12.3125rem;
      height: 2.25rem;
      padding: 0rem 1.1875rem 0rem 1rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      &_logo {
        color: var(--Black, #101010);
        text-align: center;
      }
    }
  }
}

// top page menu

.flag_top {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

  .flag_image {
    object-fit: cover;
    width: 100%;
    height: 17.1875rem;
    flex-shrink: 0;
  }
}
