.color_body {
  background-color: $background-color-main;
}

.header_container {
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background: $white-color;


  .header_box {
    gap: 2.62rem;
    display: flex;
    padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .header_A {
      display: flex;
      width: 1.875rem;
      height: 1.875rem;
      flex-shrink: 0;
      justify-content: flex-end;
      .header_icon {
        margin-left: 1.06rem;
        border: none;
        background: $white-color;

        .fleche {
          color: $color_text;
          background-color: $white-color;
          display: inline-block;
        }
      }
    }

    .header_B {
      display: flex;
      width: 12.3125rem;
      height: 2.25rem;
      padding: 0rem 1.1875rem 0rem 1rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 90%;

      &_logo {
        color: $color_text;
        text-align: center;
      }
    }
  }
}

// top page menu

.flag_top {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .flag_box{
    width: 100%;
  }

  .flag_image {
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
    height: 23.9375rem;
  }

  .flag_image2 {
    display: none;
  }
}

.flag_top {
  .postion_img-lne {
    width: 100%;
  }
}

.image_lne {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 600px;
  object-fit: cover;
  height: 55vh;
  min-height: 17.1875rem;
  object-position: 0 -8px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 2%;
  width: 100%;
  justify-content: center;
  background-color: $background-color-main;
  border-radius: 30px 30px 0 0;
  position: relative;
  width: 100%;
  top: -63px;
}

.card_border {
  background-color: $background-color-main;
  width: 100%;
}

.card__title {
  display: flex;
  flex-direction: row;
  font-family: $title-logo-font;
}

.card__icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  .coeur2 {
    position: absolute;
    width: 1.375rem;
    height: 1.3125rem;
  }

  .full1 {
    color: transparent;
  }

  .empty1 {
    position: absolute;
  }

  .full1:hover {
    color: $primaire-color;
  }
}

// Carte Menu

.contenaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  position: relative;
  top: -66px;

  &_titre {
    display: flex;
    width: 2.5rem;
    height: 1.6875rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: $tertiaire-color 2px solid;
    border-width: 2px;
    padding-bottom: 13px;
    @include contenaire_titre;
  }
}

.box_border {
  display: flex;
  padding: 0.9375rem;
  gap: 0.3125rem;
  border-radius: 0.94019rem;
  background: $white-color;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  height: 4.3125rem;
  width: 90%;
  margin-left: 0;

  .box_titre1 {
    height: 1.3125rem;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    margin: 0%;
    @include box_titre1;
  }

  .box_titre2 {
    height: 1.1875rem;
    flex-shrink: 0;
    align-self: stretch;
    overflow: hidden;
    margin: 0%;
    @include box_titre2;
  }

  .box_titre3 {
    text-align: center;
    margin-bottom: 0%;
    @include box_titre3;
  }
}

.block1 {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-around;
}
.block2 {
  display: flex;
  position: relative;
  top: -12px;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  position: relative;
  top: 10px;
}

/* animation check */

.box_contents_right {
  display: flex;
  align-items: center;
  width: 0%;
  color: transparent;
  background-color: $white-color;
}

.box_border:hover {
  .box_contents_right {
    display: flex;
    align-items: center;
    width: 10%;
    color: $white-color;
    background-color: $tertiaire-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 0 15px 15px 0;
    height: 100px;
    position: relative;
    top: -15px;
    left: 15px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.element {
  position: relative;
  top: -2.5rem;
  padding-bottom: 2.5rem;
}

.emplacement_bouton {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  position: relative;
  top: -35px;
}
