// version desktop XL >1700px

@media (min-width: 1700px) {
  html {
    margin: auto;
    padding: 2.5rem;
    max-width: 1440px;
    height: 100%;
  }
  .fonctionnement {
    padding: 3.125rem 17.25rem;
} }

@media (min-width: 1440px) {
  .boxe_restaurant-icon {
    transform: translate(15.5em, -2em);
  }
  .fonctionnement{
    padding: 3.125rem 11.25rem;

    ol{
        justify-content: space-evenly;
    }
}
.container_cards .boxe_restaurant-icon {
    transform: translate(14.5em, -2em);
}
 }
// version desktop

@media (min-width: 1024px) {
  .box_logo {
    display: flex;
    height: 6rem;
    padding: 1.875rem 0rem 1.98738rem 0rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }

  .heroscontainer .titre_sub {
    width: 33.1875rem;
  }

 

  .fonctionnement {
    padding: 3.125rem 5.25rem;
    align-items: flex-start;
    gap: 1.5625rem;
    display: flex;

    &_titre {
      margin-bottom: -20px;
      @include titrehomedesktop;
    }

    &_liste {
      margin-left: -23px;
      width: 100%;
    }

    ol {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      gap: 1.56rem;

      li {
        width: 30%;
        max-width: 15.15538rem;
        margin: 0%;
        padding: 0;
        display: flex;
    }
      ::before {
        margin-top: -2px;
        left: 40px;
      }
      i{
        margin-left: 1.11rem;
      }
      span {
        width: 13.1875rem;
        height: 0.97938rem;
      }
      .recherche_bouton {
        width: 13.625rem;
        height: 3.125rem;
      }
    
  }
}
  //   cards restaurants

  .container_cards {
    justify-content: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 11.25rem;
    height: auto;
    margin-bottom: 1.875rem;
    .title_container {
      width: 100%;
      height: auto;
      min-width: 30.625rem;
      display: flex;
      margin-bottom: -4%;
    }
    .card_restaurant {
      min-width: auto;
      max-width: 30.625rem;
      width: 44%;
    }
    .boxe_restaurant-icon {
      transform: translate(8.5em, -2em);
    }
  }

  .footer {
    display: flex;
    .container {
      gap: 1rem;
      padding: 1.875rem 1.5625rem;
      width: 100%;
      align-content: flex-end;
      height: 1.6875rem;
      display: flex;
      flex-direction: row-reverse;
    }

    &__logo {
      margin-bottom: 0rem;
      display: flex;
      align-items: flex-end;
      width: 15%;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 6px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      display: flex;
      gap: 1.4375rem;
    }

    &__content {
      margin-top: 5px;
      display: flex;
      align-items: flex-end;
      flex-direction: row;
    }
  }

  //   menus-restaurants

  .color_body {
    background-color: $white-color;
  }

  .flag_image {
    display: none;
  }

  .flag_image2 {
    display: flex !important;
    object-fit: cover;
    width: 100%;
    flex-shrink: 0;
  }

  .card,
  .contenaire,
  .element {
    width: 74%;
    top: -36px;
    margin-bottom: 1rem;
    background-color: $background-color-main;
    margin: auto;
  }

  .contenaire {
    gap: 0.75rem;
    padding-top: 2.5rem;
    padding-bottom: 0.75rem;

    &_titre {
      margin-left: 12%;
    }
  }

  .element {
    padding-bottom: 0.75rem;
  }

  .box_border {
    width: 71%;
    margin-left: 12%;
  }

  .emplacement_bouton {
    width: 74%;
    background-color: #f6f6f6;
    margin: auto;
    border-radius: 0 0 30px 30px;
    top: -37px;
    margin-bottom: 1.5rem;
  }

 }